body{
    background-image: url("../images/questionbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#headerPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 10%;
}

